# ================================
# Python cache / compiled files
# ================================
__pycache__/
*.py[cod]
*$py.class

# ================================
# Virtual environments
# ================================
venv/
.env/
.venv/
env/
ENV/

# ================================
# Build / packaging artifacts
# ================================
build/
dist/
*.egg-info/
.eggs/
*.egg
pip-wheel-metadata/

# ================================
# Python packaging
# ================================
MANIFEST
*.manifest
*.spec

# ================================
# Testing / coverage
# ================================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# IDE / editors
# ================================
.vscode/
.idea/
*.swp
*.swo
*~

# ================================
# OS files
# ================================
.DS_Store
Thumbs.db

# ================================
# Logs
# ================================
*.log

# ================================
# Temporary files
# ================================
tmp/
temp/
*.tmp


# ================================
# Dataset folders
# ================================
shapes_dataset/
Fruit_dataset/